annotated-types
anyio
attrs
Automat
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
colorama
constantly
contourpy
cryptography
cssselect
cycler
defusedxml
distro
dnspython
email_validator
fastapi
fastapi-cli
filelock
fonttools
httpcore
h11
h2
hpack
hstspreload
httptools
httpx
hyperframe
hyperlink
idna
incremental
itemadapter
itemloaders
Jinja2
jmespath
joblib
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
openai==0.28
orjson
packaging
parsel
pillow
Protego
proxyscrape
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyDispatcher
Pygments
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-multipart
PyYAML
queuelib
requests
requests-file
rfc3986
rich
scikit-learn
scipy
Scrapy
scrapy-proxy-pool
scrapy-user-agents
service-identity
shellingham
six
sniffio
soupsieve
starlette
threadpoolctl
tldextract
tqdm
typer
typing_extensions
ua-parser
ujson
urllib3
user-agents
uvicorn
w3lib
watchfiles
websockets
zope.interface
gunicorn
deep-translator
jinja2
apscheduler
selenium
